{{ define "about" }}
{{ template "header" }}
		<div class="main-wrapper-first relative">
			<header>
				<div class="container">
					<div class="header-wrap">
						<div class="header-top d-flex justify-content-between align-items-center">
							<div class="logo">
								<!-- <img src="img/logo.png" alt=""> -->
							</div>
							<div class="main-menubar d-flex align-items-center">
								<nav class="hide">
									<a href="/">Home</a>
									<a href="/about">Tentang</a>
								</nav>
								<div class="menu-bar"><span class="lnr lnr-menu"></span></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="banner-area">
				<div class="container">
					<div class="row justify-content-center generic-height align-items-center">
						<div class="col-lg-8">
							<div class="banner-content text-center">
								<h1 class="text-white text-uppercase mb-10">Tentang</h1>
								<p class="text-white">Beberapa konten yang ada di website ini tentu masih ada kekurangannya. <br> Kesalahan kecil pasti ada, segala masukan yang positif sangat diperlukan dari kamu :)</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!-- About Generic Start -->
		<div class="main-wrapper">
			<section class="about-generic-area">
				<div class="container border-top-generic">
					<h3 class="about-title mb-70">Leonardus Fernando Purba</h3>
					<div class="row">
						<div class="col-md-12">
							<div class="img-text">
								<img src="img/a.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
								<p>Halo kamu yang ada didepan layar yang sedang membaca tulisan ini, kenalan yuk ? <br> <b><i style="color: black">Balas ke email ya hehehe..</i></b> <br> Saya Leonardus Fernando Purba, umur masih muda, pernah kuliah (dapat gelar S.Kom sekali walaupun telat) dan sekarang berkerja di perusahan industri kreatif digital yang berfokus pada jasa dan produk perangkat lunak. Posisi saya di perusahaan adalah sebagai software engineer yang berfokus pada bagian web development. Beberapa bahasa pemrograman yang saya kuasai yaitu PHP, JavaScript, Go, dan MySql. Saat ini saya sedang mencoba untuk mendalami bahasa Go dan website ini merupakan salah satu web yang saya buat dengan Go. </p>
							</div>
						</div>
						<div class="col-lg-12">
							<p>Jika kamu tertarik untuk mencoba atau bertanya tentang Go ataupun website ini bisa tanyakan langsung ke saya via email atau kontak lainnnya. <i>"Free"</i></p>
						</div>
						<div class="col-lg-12">
							<p>Terima Kasih.</p>
						</div>
						<!-- <div class="col-md-12">
							<div class="img-text">
								<img src="img/a2.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
								<p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play in online casinos.</p>
							</div>
						</div> -->
					</div>
				</div>
			</section>
			<!-- End Generic Start -->
			<!-- Start Contact Form -->
{{ template "footer" }}
{{ end }}